<app-adheader></app-adheader>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Books</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope='col'>Quantity</th>
            <th scope='col'>Total Price</th>
          </tr>
        </thead>
        <tbody *ngFor='let card of cards'>
          <tr>
            <th scope="row"><img class="card-img-left" src="./assets/MahaBharath.jpg" alt="Card image left" style='height:200px;'></th>
            <td>{{card.title}}</td>
            <td>{{card.price}}</td>
            <td>Quality</td>
            <td>Total Price</td> 
          </tr>
        </tbody>
      </table>
<app-footer></app-footer>